<img src="<%= image_path("bg.png")%>" style="width:100% ; position: fixed;"/>

<div class="col-sm-12"  style="top: 50%; position: fixed; left: 50%; transform: translate(-50%, -60%);">
			<p style="text-align:center;font-family: 'Amatic SC', cursive;
	font-size: 80px;
	font-weight: 300;
	color: #FFFFFF;margin:5%;">InstantVite</p>
			<p style="text-align:center;font-family: 'Amatic SC', cursive;
	font-size: 40px;
	font-weight: 300;
	color: #FFFFFF;margin:5%;"> - Don't say we don't jio you ahh... -</p>    
      <p style="text-align:center;font-family: 'Amatic SC', cursive;
	font-size: 40px;
	font-weight: 300;
	color: #FFFFFF;margin:5%;"><%= link_to 'Continue', sign_path, class:"btn btn-default" %></p>    
		</div>
		
		<div class="footer">
			<p>
				InstantVite | FutureHacks 2018
			</p>
		</div>
		
		
	</div>