<img src="<%= image_path("bg.png")%>" style="width:100% ; position: fixed;"/>

<div class="col-sm-12"  style="top: 50%; position: fixed; left: 50%; transform: translate(-50%, -60%);text-align:center;font-family: 'Amatic SC', cursive;
	font-size: 80px;
	font-weight: 300;
	color: #FFFFFF;">
			<p>InstantVite</p>
			<p style="font-size: 40px;"> - Don't say we don't jio you ahh... -</p>
			<button type="button" class="btn btn-default" data-dismiss="modal">Sign Up</button>
		</div>
		
		<div class="footer">
			<p>
				InstantVite | FutureHacks 2018
			</p>
		</div>
		
		
	</div>